{% extends "base.html" %}
{% block title %}Category Creation {% endblock %}
{% from 'course/macros/render_form.html' import render_form %}
{% from 'course/macros/nav.html' import render_nav %}

{% block body %}
<div class="row">
  <div class="col-3">
{{ render_form(form,url_for('category_create_api'),[form.name,],'创建',id="category_form_id") }}
  </div>

  <div class="col-9">
    <div id="exist_result"></div>
    <div id="create_result"></div>
    <div id="error_result"></div>
  </div>
{% endblock %}

{% block nav %}
{{ render_nav(current_user) }}
{% endblock %}
